<nav ng-controller="LoginContorller as vm" class="navbar navbar-dark bg-primary fixed-top navbar-expand-md" ng-init="vm.init()">
	<div class="container">
		<button aria-controls="navbar" aria-expanded="false" class="navbar-toggler collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> &#x2630;</button>
		<a class="navbar-brand" href="#!/">MeanHotel</a>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav">
				<li ng-class="vm.isActiveTab('')" class="active nav-item">
					<a class="nav-link" href="#!/">Home</a>
				</li>
				<li ng-class="vm.isActiveTab('hotels') class="nav-item">
					<a class="nav-link" href="#!/hotels">Hotels</a>
				</li>
				<li ng-class="vm.isActiveTab('register')" class="nav-item">
					<a class="nav-link" href="#!/register">Register</a>
				</li>
				<li ng-class="vm.isActiveTab('profile') class="nav-item">
					<a class="nav-link" href="#!/profile">Profile</a>
				</li>
			</ul>
			<form ng-if="!vm.isLoggedIn()" class="form-inline ml-auto" role="login" ng-submit="vm.login()">
				<div class="form-group" ng-class="{'has-error': vm.error}">
					<input class="form-control form-control-sm" placeholder="Username" type="text" ng-model="vm.username" autocapitalize="none">
				</div>
				<div class="form-group" ng-class="{'has-error': vm.error}">
					<input class="form-control form-control-sm" placeholder="Password" type="password" ng-model="vm.password" autocapitalize="none">
				</div><button class="btn btn-sm btn-success" type="submit">Login</button>
			</form>
			<ul ng-if="vm.isLoggedIn()" class="nav navbar-nav ml-auto">
				<li class="nav-item">
					<p class="navbar-text">Welcome back {{ vm.loggedInUser }}</p>
				</li>
				<li class="nav-item"><button class="nav-item btn-sm btn-info" ng-click="vm.logout()">Logout</button></li>
			</ul>
		</div>
	</div>
</nav>